<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
  </head>

  <body>
    <%= render 'layouts/navbar_application' %>

    <div class="container-fluid">
      <br/>
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </div>
  </body>
</html>
